@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url("../public/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-display: swap;
}




body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Vazirmatn", sans-serif !important;
  height: 100vh

}
.footer-titles {
  @apply text-xl font-semibold py-3;
}
.footer-items {
  @apply py-1 text-base hover:opacity-70;
}

.input-box{
  @apply w-auto flex items-center gap-1 justify-center border-gray-300 border-2 rounded-xl px-2 py-1 lg:border-none 
}
.inputs{
  @apply text-lg border-none outline-none w-full lg:border-l-gray-300;
}